@font-face {font-family: 'Roboto';src: url(./Roboto-Regular.ttf);}
*{font-family: 'Roboto', sans-serif;outline: 0;}
html{height: 100%;}
body{height:100%;font-size:1.2rem;line-height:2;margin: 0px;background: url('screenshot.png') top right no-repeat;}
a, a:visited{color: #0278AE;text-decoration: none;}
a:hover, a:focus{text-decoration: underline;}
/* Class definitions */
.page {display: flex;flex-direction:column;align-items: center;justify-content: center;height: 100%;}
.wrap {text-align: left;width:100%;max-width: 640px;}
.vsmall{font-size: 1rem;}
/* Browser elements */