@font-face {font-family: 'Roboto';src: url(./Roboto-Regular.ttf);}
*{font-family: 'Roboto', sans-serif;outline: 0;}
html{height: 100%;}
body{height:100%;font-size:1.0rem;margin: 0px;}
svg g{fill: #333644;}
/* Class definitions */
.hide{display: none;}
.page {display: flex;flex-direction:column;align-items: center;justify-content: center;height: 100%;}
/* Browser elements */
#progressbar{position:absolute;top:0px;left:0px;right:0px;}
#progress{height:5px;background-color: #0278AE;width:0%;}
#buttons{display: table;vertical-align: middle;}
button{background: none;border:0;margin:0px 10px;font-size: 1rem;color:#565656;cursor: pointer;display: table-cell;vertical-align: middle;}
#playBtn{width:75px;}
.min{border-radius: 5px;background: #dfdfdf;padding:5px 10px;}
.min.active{background: #333644;color: #dfdfdf;}